<div class="panel p-a-lg">
    <h4 class="nudge">Send us your referrals! We'll do the rest.</h4>
    <form accept-charset="utf-8" action="/submit" class="validated" id="" method="post" name="" novalidate="novalidate">
        <!--left id and name blank-->
        <input name="formID" type="hidden" value=""><!--left value blank-->
        <h4>Your Contact Information</h4>
        <p>First, share your info with us so we can give you credit for your referrals who sign.</p>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="input_1">First Name</label><br>
                    <input class="form-control input-lg" id="input_1" name="referrer_first_name" size="51" type="text">
                </div>
                <div class="col-md-6">
                    <label for="input_3">Last Name</label><br>
                    <input class="form-control input-lg" id="input_3" name="referrer_last_name" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="input_4">Email Address</label><br>
            <input class="form-control input_4 email input-lg" id="input_4" name="referrer_email" type="text">
        </div>
        <div class="form-group">
            <label for="input_6">Company Name</label><br>
            <input class="form-control input-lg" id="input_6" name="referrer_company" type="text">
        </div>
        <h4>Referral 1</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="input_1">First Name</label><br>
                    <input class="form-control input-lg" id="input_1" name="r[][first_name]" size="51" type="text">
                </div>
                <div class="col-md-6">
                    <label for="input_3">Last Name</label><br>
                    <input class="form-control input-lg" id="input_3" name="r[][last_name]" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="input_4">Email Address</label><br>
            <input class="form-control input_4 email input-lg" id="input_4" name="r[][email]" type="text">
        </div>
        <div class="form-group">
            <label for="input_6">Company Name</label><br>
            <input class="form-control input-lg" id="input_6" name="r[][company]" type="text">
        </div>
        <h4>Referral 2</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="input_1">First Name</label><br>
                    <input class="form-control input-lg" id="input_1" name="r[][first_name]" size="51" type="text">
                </div>
                <div class="col-md-6">
                    <label for="input_3">Last Name</label><br>
                    <input class="form-control input-lg" id="input_3" name="r[][last_name]" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="input_4">Email Address</label><br>
            <input class="form-control input_4 email input-lg" id="input_4" name="r[][email]" type="text">
        </div>
        <div class="form-group">
            <label for="input_6">Company Name</label><br>
            <input class="form-control input-lg" id="input_6" name="r[][company]" type="text">
        </div>
        <h4>Referral 3</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="input_1">First Name</label><br>
                    <input class="form-control input-lg" id="input_1" name="r[][first_name]" size="51" type="text">
                </div>
                <div class="col-md-6">
                    <label for="input_3">Last Name</label><br>
                    <input class="form-control input-lg" id="input_3" name="r[][last_name]" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="input_4">Email Address</label><br>
            <input class="form-control input_4 email input-lg" id="input_4" name="r[][email]" type="text">
        </div>
        <div class="form-group">
            <label for="input_6">Company Name</label><br>
            <input class="form-control input-lg" id="input_6" name="r[][company]" type="text">
        </div>
        <h4>Referral 4</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="input_1">First Name</label><br>
                    <input class="form-control input-lg" id="input_1" name="r[][first_name]" size="51" type="text">
                </div>
                <div class="col-md-6">
                    <label for="input_3">Last Name</label><br>
                    <input class="form-control input-lg" id="input_3" name="r[][last_name]" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="input_4">Email Address</label><br>
            <input class="form-control input_4 email input-lg" id="input_4" name="r[][email]" type="text">
        </div>
        <div class="form-group">
            <label for="input_6">Company Name</label><br>
            <input class="form-control input-lg" id="input_6" name="r[][company]" type="text">
        </div>
        <h4>Referral 5</h4>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="input_1">First Name</label><br>
                    <input class="form-control input-lg" id="input_1" name="r[][first_name]" size="51" type="text">
                </div>
                <div class="col-md-6">
                    <label for="input_3">Last Name</label><br>
                    <input class="form-control input-lg" id="input_3" name="r[][last_name]" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="input_4">Email Address</label><br>
            <input class="form-control input_4 email input-lg" id="input_4" name="r[][email]" type="text">
        </div>
        <div class="form-group">
            <label for="input_6">Company Name</label><br>
            <input class="form-control input-lg" id="input_6" name="r[][company]" type="text">
        </div>
        <hr>
        <div class="form-group">
            <button class="btn btn-blue btn-lg btn-block" type="submit">Submit My Referrals</button>
        </div>
    </form>
    <p><label style="font-weight: 300; font-size: 12px;">Your information will be shared with Hatchbuck. We may reach out with relevant content, product and service updates. You can unsubscribe at any time. We protect your info, <a href="/privacy">promise</a>.</label></p>
</div>
